# Ignore node_modules
node_modules/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
packages/react-app/node_modules
packages/react-app/.pnp
packages/react-app/.pnp.js

# testing
packages/react-app/coverage

# production
packages/react-app/build

# misc
packages/react-app/src/contracts/artifacts/

packages/react-app/.DS_Store
packages/react-app/.env.local
packages/react-app/.env.development.local
packages/react-app/.env.test.local
packages/react-app/.env.production.local

packages/react-app/npm-debug.log*
packages/react-app/yarn-debug.log*
packages/react-app/yarn-error.log*

.env

packages/react-app/.netlify/